
#navbar .s_brand {
    border-radius: 80px;
    background: linear-gradient(145deg, #202a8c, #2732a6);
    box-shadow: 14px 5px 25px #1c2477, -14px -5px 25px #2c3abf;
    padding: 0.25rem 1rem;
}

.content {
    padding: 16px;
}

.sticky_nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky_nav + .content {
    padding-top: 60px;
}
